name: markdownlint

on: [push, pull_request]

jobs:
  delivery:

    runs-on: ubuntu-latest

    steps:
    - name: Install Ruby 2.7
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.7.x
    - name: Install mdl
      run: gem install mdl
    - name: Check out code
      uses: actions/checkout@master
    - name: Run mdl
      run: mdl -s ".github/workflows/mdl-config.rb" docs website/versioned_docs
